*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
header img{
   
 margin: 10px;

  
}

nav{
 display: flex;
justify-content: flex-end;
}

nav .nav li{

    list-style: none;
    display: inline-block;
    position: relative;
    bottom: 100px;
    margin-top: 30px;
    padding: 10px 30px;
    color: hsl(208, 100%, 97%);
    border-radius: 50px;
    width: 100px;
    transition: all 0.3s ease 0s;
    
}

header .logo{
 position: relative;

}


i{
    padding: 10px;
    color: white;
}

.founders li{
    color: white;
    background-color: brown;
    display: block;
    width:120px;
    padding: 10px 0px;
    text-align: center;
    position: relative;
    margin-left: 1360px;
    bottom: 90px;
    display: none;
}

#no1{
    width: 50%;
    color: white;
    font-family: montserrat;
    text-align: center;
    display: block;
    margin-left: 750px;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    bottom: 100px;
}


.mark{
    display: inline-block;
    margin-left: 600px;
}
.order{
   background-color: rgba(95, 9, 9, 0.692);
   color: white;
   width: 100px;
   height: 50px;
   border-radius: 50px;
   display: block;
   margin-left: 1080px;
   position: relative;
   bottom: 200px;

   border: none;
   transition: all 0.3s ease 0s;

}

#od{
    padding: 0;
}

main h1{
    color: white;
    font-family: montserrat;
   font-weight: bolder;
   display: inline-block;
   margin-left: 400px;
   margin-bottom: 100px;
}

#no2{
    width: 70%;
    color: white;
    text-align: center;
    font-family: montserrat;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    margin-left: 300px;
 position: relative;
 bottom: 80px;

}

.img{
    display: flex;
    justify-content: space-between;


}

.img img{
    width: 300px;
    padding: 20px 30px;
}


#seemore{
display: inline-block;
width: 100px;
height: 40px;
border: none;
border-radius: 50px;
margin-left: 750px;
background-color: hsl(0, 77%, 20%);
color: white;
transition: all 0.3s ease 0s;
}

footer h1{
display: inline-block;
margin-left: 710px;
margin-top: 100px;
color: white;
}

footer{
    width: 100%;
    margin: 20px;
        background-color: hsla(0, 88%, 10%, 0.767);    
    
}

.icons{
    display: flex;
    justify-content: center;
}

.icons i{
    padding: 50px;
    height: 20px;
}

footer p{
    color: white;
    animation-name: travel;
    animation-duration: 10s;
   animation-iteration-count: infinite;

}

@keyframes travel{
    from{transform: translatex(1000px);}
}


.end{
    background-color: hsl(0, 89%, 14%);
}

#drink{
    position: relative;
    top: 170px;
    left: 50px;
    opacity: 0.9;
    transition: all 0.3s ease 0s;

}




.hide{
display: flex;
justify-content: space-between;
}



.hide img{
    width: 300px;
    padding: 20px 30px;
    display: none;
    transition: all 0.3s ease 0s;
}


footer i{
  font-size: 25px;
}