.wrapper{
  background-image: url(Brothers-Bond-Bourbon.gif);
  background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 position: relative;
 z-index: 1;


}



header{
  background-color: hsla(0, 88%, 10%, 0.103);
  height: 150px;
}